@mixin section()
    display: flex
    justify-content: center
    scroll-margin-top: 180px

@mixin block()
    max-width: 900px
    text-align: center

@mixin after_title()
    &::after
        content: ''
        width: 263px
        height: 1px
        background: #133955
        position: absolute
        left: 50%
        bottom: -30px
        transform: translateX(-50%)

@mixin description()
    font-size: 18px
    line-height: 1.5
    margin-bottom: 35px

.main
    padding: 146px 20px 0
    &__welcome
        @include section

        padding: 25px 0 0
        margin-bottom: 140px
        &_block
            @include block

            &__title
                @include after_title()

                font-size: 48px

                position: relative
                margin-bottom: 75px

            &__description
                @include description
            &__buttons
                display: flex
                justify-content: center

    &__about
        @include section

        margin-bottom: 140px
        &_block
            @include block

            &__title
                @include after_title()

                font-size: 36px

                position: relative
                margin-bottom: 55px

            &__description
                @include description

    &__project
        @include section

        flex-direction: column
        align-items: center

        margin-bottom: 88px

        &_info
            @include block

            &__title
                @include after_title()

                font-size: 36px

                position: relative
                margin-bottom: 55px
        &_cards
            display: grid
            grid-template-columns: repeat(2,minmax(320px, 494px))

            gap: 110px
    &__contact

        @include section
        flex-direction: column
        align-items: center

        margin-bottom: 130px
        &_info
            @include block

            margin-bottom: 55px
            &__title
                @include after_title()

                font-size: 36px

                position: relative

.button_projects
    background: #dbdbdb
    color: #133955
    margin-right: 61px
    &:hover
        background: #133955
        color: #dbdbdb

@media (max-width: 780px)
    .main
        &__project
            &_cards
                grid-template-columns: minmax(320px, 780px)
@media (max-width: 500px)
    .main
        &__welcome
            &_block
                &__buttons
                    flex-direction: column
    .button_projects
        margin: 0
        margin-bottom: 25px
